<!DOCTYPE html>
    <html>
    	<head >
    		<title>Ask_Semenchneko</title>
    			<meta name="viewport" content="width=device-width, initial-scale=1.0">
    			<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    			<link rel="stylesheet" href="/styles/baseStyle.css"/>
                {% block head %}
                {% endblock %}
    			<script src="/jquery.js"></script>
    	</head>
    	<body style="font-family: DejaVu Sans">
    		<div class="container" style="padding-bottom: 10px">
                    <div style="margin-top: 10px; " class="navbar">
                        <div class="navbar-inner myNavbar">
                            <div class="textTitle" href="#">AskSemenchenko</div>
                                <form class="navbar-form form-search pull-left" style="margin-top: 10px">
                                    <input type="text" class="input-large search-query" placeholder = "Введите вопрос"/>
                                    <button type="submit" class="btn">
                                        <div class="textAsk">
                                            ASK!
                                        </div>
                                    </button>
                                </form>
                                {% block registrationForm %}
                                    <div class="registrationWind_Unregistered">
                                        <div class="row" style="margin-top: 0px; margin-left: 0px">
                                            <a class="linkColor" href="#">log in</a>
                                            &nbsp
                                            &nbsp
                                            &nbsp
                                            <a class="linkColor" href="#">registration</a>
                                        </div>
                                    </div>
                                {% endblock %}
                        </div>
                    </div>
    			<div class="row" style="margin-left: 0px;">
                    <div class="span8 " style="margin-left : 0px">
                        {% block content %}
                        {% endblock %}
                    </div>
					<div class="span4" id="rightcolumn">
						<h2 class="marginsLeftTop">Popular Tags</h2>
							<ul >
								{% for a  in "abcdefgasfsdfsf" %}
                                    <a class="tagsStyle">tag</a>
                                    &nbsp; &nbsp; &nbsp;
                                {% endfor %}
							</ul>
                        <h2 class="marginsLeftTop">Best Members</h2>
                            <ul>
                                {% for a  in "abcdeasdf" %}
                                    <a class="tagsStyle">Author</a>
                                    &nbsp; &nbsp;
                                {% endfor %}

							</ul>
					</div>    			
    			</div>
    		</div>
    	</body>
    </html>