{% extends 'base.html' %}
{% block main %}
<div id="maincolumn" >
    <div style="margin-left: 20px;">
        <div class="title-tag" >
            <h4 style="margin: 0px; margin-left: 15px"> Tag : computer</h4>
        </div>
        {% for i in "abcd" %}
            <div class="question">
                <div class="leftpartQuestion">
                    <div class="item">
                        <img style="padding: 10px" src="http://lorempixel.com/90/90/">
                    </div>
                </div>

                <div class="rightPartQuestion">
                    <h5>
                        How to Choose a Computer?
                    </h5>
                    <p> Getting a new computer is an exciting experience. The promise of brand new technology is
                        hard to stifle. Unfortunately, that excitement can quickly wane if you find you didn’t
                        get the computer you need. The vast number of choices can be daunting, but this guide can help
                        steer you towards technical bliss.
                    </p>
                    <div style="padding: 10px; padding-left: 0px">
                        <a class="ref-on-answers">answers(3)</a>
                        <div class="tag-of-answers">
                            <b>Tags : </b>
                            <a>computer</a>
                            <a>technology</a>
                            <a>choosing</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="pagination paginationMargins">
            <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}