{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/styles/mainStyle.css"/>
{% endblock %}
{% block registrationForm %}
<div class="registrationWind_Registered">
    <div class="row">
        <div class="span1">
            <img src="http://lorempixel.com/60/60/">
        </div>
        <div class="span2">
            Login
            <div class="row" style="margin-top: 24px; margin-left: 0px">
                <a class="linkColor" href="#">settings</a>
                &nbsp
                &nbsp
                &nbsp
                <a class="linkColor" href="#">log out</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div id="maincolumn" >
    <div>
        <div class="title-tag row" >
            <h4 class="span6" style="margin: 0px; margin-left: 15px; margin-right: 30px"> {{ title }}</h4>
            <form action="/" method="get" style="margin: 0px;">
                <input name='sort' type="submit" value="new"/>
                <input name='sort' type="submit" value="best"/>
            </form>
        </div>
        {% for key, data in data.items %}
            <div class="question">
                <div class="leftPartQuestion">
                    <div class="item" style="margin: 10px; width: 90px; height: 90px; border: solid 1px lightgray;">
                        <img class="img" src="/uploads/avatars/{{ data.question.user.userprofile.avatar }}">
                    </div>
                    <div class="rating">
                        <p align="center">
                            {{ data.question.rating }}
                        </p>
                        <div class="btn-group" style="margin-left: 7%;">
                            <button type="button" class="btn"><span class="icon-thumbs-up"></span></button>
                            <button type="button" class="btn"><span class="icon-thumbs-down"></span></button>
                        </div>
                    </div>
                </div>
                <div class="rightPartQuestion">
                    <h5 style="width: 300px">
                        {{ data.question.title }}
                    </h5>
                    <p>
                        {{ data.question.text }}
                    </p>
                    <div style="padding: 10px; padding-left: 0px">
                        <a class="ref-on-answers linkColor" href="{% url "question" data.question.id %}">ответы({{data.answers}})</a>
                        <div class="tag-of-answers">
                            <b>Tags : </b>
                            {% for tag in data.tags %}
                                {% block tag_href %}
                                    <a class="linkColor" href="tag/{{ tag.id }}">{{tag.text}}</a>
                                {% endblock %}
                                {% if not forloop.last %}
                                    <b>, </b>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="createdDate">
                        {{ data.question.createdDate|date:"d M Y, H:i" }}
                    </div>
                </div>
            </div>
        {% empty %}
            <h4 style="padding-left: 20px">Sorry, questions not found</h4>
        {% endfor %}
        Page {{ questions.number }} of {{ questions.paginator.num_pages }}
        {% block pagination %}
            <div class="pagination paginationMargins">
                <ul>
                    {% if questions.has_previous %}
                        <li><a href="?page={{ questions.previous_page_number }}&sort={{ sort }}">Prev</a></li>
                    {% endif %}
                    {% for p in questions.paginator.page_range %}
                        <li><a href="?page={{ p }}&sort={{ sort }}">{{ p }}</a></li>
                    {% endfor %}
                    {% if questions.has_next %}
                        <li><a href="?page={{ questions.next_page_number }}&sort={{ sort }}">Next</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endblock %}

    </div>

</div>
{% endblock %}