
    <!DOCTYPE html>
    <html>
    	<head>
    		<title>Ask_Semenchneko</title>
    			<meta name="viewport" content="width=device-width, initial-scale=1.0">
    			<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    			<link rel="stylesheet" href="/style.css"/>
    			<script src="/jquery.js"></script>
    	</head>
    	<body>
    		<div class="container">
    			<div class="row">
					<div class="span8" id="maincolumn">
						image.jpeg
					</div>
					<div class="span4" id="rightcolumn">
						<h3>popular tags</h3>
							<ul>
								<li>tag1</li>
								<li>tag2</li>
								<li>tag3</li>
							</ul>					
					</div>    			
    			</div>
				    		
    		</div>
    	</body>
    </html>