{% extends 'main.html' %}
{% block tag_href %}
    <a class="linkColor" href="../../tag/{{ tag.id }}">{{tag.text}}</a>
{% endblock %}
{% block pagination %}
    <div class="pagination paginationMargins">
        <ul>
            {% if questions.has_previous %}
                <li><a href="?page={{ questions.previous_page_number }}">Prev</a></li>
            {% endif %}
            {% for p in questions.paginator.page_range %}
                <li><a href="?page={{ p }}">{{ p }}</a></li>
            {% endfor %}
            {% if questions.has_next %}
                <li><a href="?page={{ questions.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}