{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/styles/questionStyle.css"/>
    <link rel="stylesheet" href="/styles/mainStyle.css"/>
{% endblock %}
{% block registrationForm %}
<div class="registrationWind_Registered" >
    <div class="row">
        <div class="span1">
            <img src="http://lorempixel.com/60/60/">
        </div>
        <div class="span2">
            Login
            <div class="row" style="margin-top: 24px; margin-left: 0px">
                <a class="linkColor" href="#">settings</a>
                &nbsp
                &nbsp
                &nbsp
                <a class="linkColor" href="#">log out</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}

        <div class="question" >
            <div class="leftPartQuestion">
                <div class="item" style="margin: 10px; width: 90px; height: 90px; border: solid 1px lightgray;">
                    <img src="/uploads/avatars/{{ question.user.userprofile.avatar }}">
                </div>
                <div class="rating">
                    <p align="center">
                        {{ question.rating }}
                    </p>
                    <div class="btn-group" style="margin-left: 7%;">
                        <button type="button" class="btn"><span class="icon-thumbs-up"></span></button>
                        <button type="button" class="btn"><span class="icon-thumbs-down"></span></button>
                    </div>
                </div>
            </div>
            <div class="rightPartQuestion">
                <h5>
                    {{ question.title }}
                </h5>
                <p style="height: 70px;">
                    {{ question.text }}
                </p>
                <div style="padding: 10px; padding-left: 0px">
                    <div class="tag-of-answers">
                        <b>Tags : </b>
                        {% for tag in tags %}
                            <a class="linkColor" href="{% url "tag" tag.id %}">{{tag.text}}</a>
                            {% if not forloop.last %}
                                <b>, </b>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="createdDate">
                    {{ question.createdDate|date:"d M Y, H:i" }}
                </div>
            </div>
        </div>

    <div class="myLine">
    </div>
    <div>
        {% for answer in answers  %}
            <div class="answer">
                <div class="leftPartAnswer">
                    <div class="item" style="width: 60px; height: 60px; border: solid 1px lightgray; margin: 10px;">
                        <img style="" src="http://lorempixel.com/60/60/">
                    </div>
                    <div class="ratingAnswer">
                        <p align="center">
                            {{ answer.rating }}
                        </p>
                        <div class="btn-group" style="margin-left: 5%;">
                            <button type="button" class="btn btn-mini"><span class="icon-thumbs-up"></span></button>
                            <button type="button" class="btn btn-mini"><span class="icon-thumbs-down"></span></button>
                        </div>
                    </div>
                </div>
                <div class="rightPartAnswer">
                    <p class="answerText"> {{ answer.text }}
                    </p>
                    <div class="row"  style="padding: 10px; padding-left: 20px;">
                        <input type="checkbox" style="height: 17px; weight: 17px; margin-top: 0px">
                        <b>Correct!</b>
                        <div style="float: right">
                            {{ answer.createdData|date:"d M Y, H:i" }}
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h4 style="margin-left: 20px">No answers</h4>
        {% endfor %}
        <div class="pagination paginationMargins">
            <ul>
                {% if answers.has_previous %}
                    <li><a href="?page={{ answers.previous_page_number }}">Prev</a></li>
                {% endif %}
                {% for p in answers.paginator.page_range %}
                    <li><a href="?page={{ p }}">{{ p }}</a></li>
                {% endfor %}
                {% if answers.has_next %}
                    <li><a href="?page={{ answers.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="myLine"></div>
    <div>
        <textarea class="inputAnswerText" placeholder="&nbsp;Enter your answer here"></textarea>
    </div>
    <button type="submit" class="btn">Answer</button>
{% endblock %}