.askColumn{
    border: solid 1px lightgray;
    background-image: linear-gradient(to bottom, #FFF, lavender);
    border-radius: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.newQuestion{
    padding-top: 20px;
    margin-top: 0px;
    margin-left: 20px;
}
.rubric{
    height: 28px;
    width: 40px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.inputFieldTitle{
    width: 500px;
}

.inputFieldText{
    width: 500px;
    height: 300px;
    resize: none;
}

.inputFieldTags{
    width: 500px;
}
