.myNavbar{
    padding-right: 0px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, white, lavender);
}
    .registrationWind_Unregistered {
        float: right;
        margin: 10px;
        padding: 10px;
        margin-right: 0px;
        width: 32%;
    }
    .registrationWind_Registered {
        float: right;
        margin: 10px;
        padding: 10px;
        margin-right: 0px;
        width: 32%;
    }

#maincolumn{
    margin-left: 0px;
}

#rightcolumn{
    border: solid 1px lightgray;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #FFF, lavender);
    margin-left: 16px;
    float: left;
}

.title {
    background-color: lightgray;
    margin-top: 10px;
    color: #000000;
}

.marginsLeftTop {
    margin-top: 10px;
    margin-left: 10px;
}

.textAsk {
    font-family: "Arial";
    font-weight: bold;
    font-size: medium;
}
.textTitle {
    float: left;
    margin-top: 10px;
    padding: 10px 20px;
    margin-left: -20px;
    font-size: 30px;
    color: #000000;
    text-shadow: 0px 1px 0px #FFF;
}