.loginColumn {
    border: solid 1px lightgray;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, white, lavender);
    padding-bottom: 20px;
}

.inputFieldLogin {
    width: 200px;
}
.inputFieldPassword {
    width: 200px;
}