.questionColumn{
    padding: 20px;
    padding-top: 0px;
    border: solid 1px lightgray;
    border-radius: 20px;
    min-height: 100px;
}
.answer {
    font-family: "DejaVu Sans";
    border: solid 1px lightgray;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #FFF, lavender);
    margin-bottom: 10px;
    margin-left: 0px;
    width: 100%;
    float: left;
}
    .ratingAnswer{
        font-size: 25px;
        margin-left: 10px;
        width: 60px;
        margin-bottom: 10px;
    }
    .answerText{
        margin-top: 10px;
        min-height: 90px;
    }
    .leftPartAnswer{
        float: left;
        margin-top: 10px;
        margin-left: 10px;
        width: 21%;
    }
    .rightPartAnswer{
        float: left;
        margin-top: 10px;
        margin-left: 10px;
        width: 72%;
        min-height: 120px;
    }
.myLine{
    border-top: solid 2px lightgray;
    float: left;
    margin-left: 20px;
    width: 94%;
    line-height: 0px;
    margin-bottom: 10px;
}

.inputAnswerText{
    padding: 0px;
    width: 100%;
    min-height: 100px;
    resize: none;
}